<mat-toolbar>
  <span></span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" fromControlName="comune_id">
        <mat-form-field>
          <input formControlName="comune_name" matInput placeholder="comune_name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="comune_code" matInput placeholder="comune_code">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
      <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    </div>
  </mat-grid-list>

</form>
