<table class="table table-hover">
  <thead>
  <td>Postalcode</td>
  <td>constructionYear</td>
  <td>Date in Market</td>
  <td>Total price</td>
  <td>Price per meter</td>

  </thead>
  <tbody>
  <tr *ngFor="let pricInfo of service.list">
    <td (click)="populateForm(pricInfo)">{{pricInfo.postalCode}}</td>
    <td (click)="populateForm(pricInfo)">{{pricInfo.constructionYear}}</td>
    <td (click)="populateForm(pricInfo)">{{pricInfo.dateInMarket}}</td>
    <td (click)="populateForm(pricInfo)">{{pricInfo.price}}</td>
    <td (click)="populateForm(pricInfo)">{{pricInfo.pricePermeter}}</td>

    <td><button (click)="onDelete(pricInfo.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>
