<div>
  <button mat-raised-button routerLink="/nation" routerLinkActive="">Nation</button>
  <button mat-raised-button routerLink="/region" routerLinkActive="">Region</button>
  <button mat-raised-button routerLink="/province" routerLinkActive="">Province</button>
  <button mat-raised-button routerLink="/comune" routerLinkActive="">Comune</button>
  <button mat-raised-button routerLink="/cap" routerLinkActive="">Cap</button>
  <button mat-raised-button routerLink="/comuneconfig" routerLinkActive="">Comune Conبig</button>

</div>
<router-outlet></router-outlet>

