<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input (keyup)="applyFilter($event.target.value)" autocomplete="off" matInput placeholder="Filter">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>


<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="sp_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sale point Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sp_id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="field_code">
    <mat-header-cell *matHeaderCellDef> Field code </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.field_code}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="geo_id">
    <mat-header-cell *matHeaderCellDef> geo id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.geo_id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="cap">
    <mat-header-cell *matHeaderCellDef> cap </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cap}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="comune">
    <mat-header-cell *matHeaderCellDef> comune </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.comune}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="province">
    <mat-header-cell *matHeaderCellDef> province </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.province}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="region">
    <mat-header-cell *matHeaderCellDef> region </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.region}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="tel">
    <mat-header-cell *matHeaderCellDef> tel </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tel}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="potential">
    <mat-header-cell *matHeaderCellDef> potential </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.potential}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef> coords </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button><mat-icon>launch</mat-icon></button>
      <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
