<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" >
    <input (keyup)="applyFilter($event.target.value)"  matInput placeholder="Filter">
  </mat-form-field>
</div>


<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->

  <!-- Name Column -->
  <ng-container matColumnDef="offer_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sale point Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.offer_id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="product_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Product Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.product_id}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="desc">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="condition">
    <mat-header-cell *matHeaderCellDef> Condition </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.condition}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="price_normal">
    <mat-header-cell *matHeaderCellDef> Normal price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price_normal}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price_discount">
    <mat-header-cell *matHeaderCellDef> Discount price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price_discount}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="discount">
    <mat-header-cell *matHeaderCellDef> Discount percent </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.discount}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="supplier">
    <mat-header-cell *matHeaderCellDef> supplier </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.supplier}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef> start Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="url_link">
    <mat-header-cell *matHeaderCellDef> url link </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.url_link}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="url_video">
    <mat-header-cell *matHeaderCellDef> url video </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.url_video}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="activate">
    <mat-header-cell *matHeaderCellDef> activate </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.activate}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button><mat-icon>launch</mat-icon></button>
      <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
