<div *ngIf="loadContent" class="container">
  <form [formGroup]="formGroup" (ngSubmit)="save()" (reset)="resetForm()">

  <ng-multiselect-dropdown #multiSelect
                           [placeholder]="'Add Regions'"
                           [data]="regionDropdownList"
                           [formControl]="f.region"
                           [(ngModel)]="regionSelectedItems"
                           [settings]="regionDropdownSettings"
                           (onDeSelect)="onDeSelect($event)"
                           (onSelect)="onRegionSelect($event)"
                           (onSelectAll)="onSelectAllRegion($event)"
  >

  </ng-multiselect-dropdown>

  <h1>==============================================</h1>
  <ng-multiselect-dropdown #multiSelect
                           [placeholder]="'Add Province'"
                           [data]="provinceDropdownList"
                           [formControl]="f.province"
                           [(ngModel)]="provinceSelectedItems"
                           [settings]="provinceDropdownSettings"
                           (onSelect)="onProvinceSelect($event)"
                           (onSelectAll)="onSelectAllProvines($event)"
  >

  </ng-multiselect-dropdown>
  <h1>===================================================</h1>
  <ng-multiselect-dropdown #multiSelect
                           [placeholder]="'Add Comune'"
                           [data]="comuneDropdownList"
                           [formControl]="f.comune"
                           [(ngModel)]="comuneSelectedItems"
                           [settings]="comuneDropdownSettings"
                           (onSelect)="onComuneSelect($event)"
                           (onSelectAll)="onSelectAllComunes($event)"
  >

  </ng-multiselect-dropdown>
    <br/> <br/>

    <input type="submit" value="Submit"> | <input type="reset" value="Reset"> | <input type="button" value="Toggle Select All" (click)="multiSelect.toggleSelectAll()">

  </form>
</div>
