<div class="container text-center">

  <ng-multiselect-dropdown #multiSelect
                           [placeholder]="'Add Regions'"
                           [data]="regionDropdownList"
                           [(ngModel)]="regionSelectedItems"
                           [settings]="regionDropdownSettings"
                           (onSelect)="onItemSelect($event)"
                           (onSelectAll)="onSelectAll($event)"
  >

  </ng-multiselect-dropdown>

  <h1>==============================================</h1>
  <ng-multiselect-dropdown #multiSelect
                           [placeholder]="'Add Province'"
                           [data]="provinceDropdownList"
                           [(ngModel)]="provinceSelectedItems"
                           [settings]="provinceDropdownSettings"
                           (onSelect)="onItemSelect($event)"
                           (onSelectAll)="onSelectAll($event)"
  >

  </ng-multiselect-dropdown>
  <h1>===================================================</h1>
  <ng-multiselect-dropdown #multiSelect
                           [placeholder]="'Add Comune'"
                           [data]="comuneDropdownList"
                           [(ngModel)]="comuneSelectedItems"
                           [settings]="comuneDropdownSettings"
                           (onSelect)="onItemSelect($event)"
                           (onSelectAll)="onSelectAll($event)"
  >

  </ng-multiselect-dropdown>
</div>
