<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off" matInput placeholder="Filter">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="province_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> province_id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.province_id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="province_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> province_name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.province_name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="province_code">
    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.province_code}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
      <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[2, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

