<app-toolbar flexLayout="column"></app-toolbar>
<div fxLayout="row" fxFlex="100">
  <app-mapsidebar fxLayout="column" fxFlex="300px"></app-mapsidebar>
  <div class="content" fxLayout="column" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
<!--<app-navbar></app-navbar>-->

<!--<mat-drawer-container>-->
<!--<mat-drawer mode="side" opened="true">-->
<!--<app-mapsidebar></app-mapsidebar>-->
<!--</mat-drawer>-->
<!--<mat-drawer-content>-->
<!--<app-toolbar></app-toolbar>-->
<!--<router-outlet></router-outlet>-->
<!--</mat-drawer-content>-->
<!--</mat-drawer-container>-->
<!--<app-mapfilter></app-mapfilter>-->
<!--<div flexLayout="row" fxFlex>-->
<!--<div fxFlex="20">-->
<!--<app-mapsidebar fxFlex></app-mapsidebar>-->
<!--</div>-->
<!--<div fxFlex="80" class="content">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->


<!--<div flexLayout="row" fxFlex>-->
<!--<div fxFlex="20">-->
<!--<app-mapsidebar></app-mapsidebar>-->
<!--</div>-->
<!--<div fxFlex="80" class="content">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->



