<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <label>Address(Street)</label>
    <input name="address" #address="ngModel" [(ngModel)]="service.formData.address" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Postalcode + City</label>
    <input name="cityPostalcode" #cityPostalcode="ngModel" [(ngModel)]="service.formData.cityPostalcode"
           class="form-control">
  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label>Report from</label>
      <input [ngModel]="dateInMarket | date:'yyyy-MM-dd'" (ngModelChange)="dateInMarket = $event"
             type="date" name="dateInMarket" class="form-control">
    </div>

    <div class="form-group">
      <label for="energy">Energy</label>
      <select class="form-control" id="energy"
              required
              [(ngModel)]="service.formData.energy" name="energy">
        <option *ngFor="let department of energyLevels" value="{{department.value}}">{{department.value}}</option>
      </select>
    </div>

    <div class="form-group  col-md-6">
      <label>Floor</label>
      <input name="floor" #floor="ngModel" [(ngModel)]="service.formData.floor" class="form-control">
    </div>

    <div class="form-group">
      <label for="homeType">Home Type</label>
      <select class="form-control" id="homeType"
              required
              [(ngModel)]="service.formData.homeType" name="homeType">
        <option *ngFor="let homeType of homeTypes" value="{{homeType.value}}">{{homeType.value}}</option>
      </select>
    </div>

    <div class="form-group  col-md-6">
      <label>living area meter</label>
      <input name="livingAreaMeter" #livingAreaMeter="ngModel" [(ngModel)]="service.formData.livingAreaMeter"
             class="form-control">
    </div>

    <div class="form-group  col-md-6">
      <label>Meter</label>
      <input name="meter" #meter="ngModel" [(ngModel)]="service.formData.meter" class="form-control">
    </div>


    <div class="form-group">
      <label for="homeType">Construction year</label>
      <select class="form-control" id="homeType"
              required
              [(ngModel)]="service.formData.constructionYear" name="year">
        <option *ngFor="let constructionYear of years" value="{{constructionYear.id}}">{{constructionYear.value}}</option>
      </select>
    </div>

    <div class="form-group  col-md-6">
      <label>Price</label>
      <input name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control">
    </div>


  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>
