<!--<mat-grid-list [cols]="2" rowHeight="fit" style="height: 200px" gutterSize="10px">-->
  <!--<mat-grid-tile routerLink="/dashboard" routerLinkActive="">Dashboard</mat-grid-tile>-->
  <!--<mat-grid-tile routerLink="/appgis" routerLinkActive="">Gis App</mat-grid-tile>-->
  <!--<mat-grid-tile>Statistic</mat-grid-tile>-->
  <!--<mat-grid-tile>blabla</mat-grid-tile>-->
<!--</mat-grid-list>-->

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <p class="card-category" routerLink="localhost:4202" routerLinkActive="">Dashboard</p>
        <h6 class="card-title">This is dashboard for all info regarding to data academy
          <small></small>
        </h6>
      </div>
      <div class="card-footer">
        <div class="stats">
          <!--<i class="material-icons text-danger">warning</i>-->
          <a routerLink="/dashboard" >Explore more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">store</i>
        </div>
        <p class="card-category">Gis Analysis</p>
        <h6 class="card-title">This is the app for suppliers to manage their sale points</h6>
      </div>
      <div class="card-footer">
        <div class="stats">
          <!--<i class="material-icons">date_range</i> Last 24 Hours-->
        </div>
        <a routerLink="/appgis" >Explore more</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">info_outline</i>
        </div>
        <p class="card-category">Business to business app</p>
        <h6 class="card-title">This is retailers platform for business connection</h6>
      </div>
      <div class="card-footer">
        <div class="stats">
          <!--<i class="material-icons">local_offer</i> Tracked from Github-->
        </div>
        <a routerLink="/appgis" >Explore more</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fa fa-twitter"></i>
        </div>
        <p class="card-category">Data Input platform</p>
        <h6 class="card-title">This is data input platform for data academy</h6>
      </div>
      <div class="card-footer">
        <div class="stats">
          <!--<i class="material-icons">update</i> Just Updated-->
        </div>
        <a routerLink="/appgis" >Explore more</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
